//this is the main.scss for the classQuiz
@import 'buttons';
@import 'reset';

html,
body {
  height: 100%;
  width: 100%;
}

.answer {
  border: 1px solid red;
  height: 15%;
  margin: 10% 0%;
  width: inherit;
}

.question {
  border: 2px solid black;
  height: 25%;
  width: inherit;
}
